@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Navbar  Start*/

body{
    background-color: #122232;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    padding: 5px 20px;
}

.navbar div{
    display: flex;
    flex: 1;
}

.navbar .left i{  
    color: aqua;
    font-size: 25px;
}

.navbar .middle{
    justify-content: center;
}

.navbar .middle input{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 0px 25px;
    background-color: #334960;
    color: #c0cad3;
    text-align: center;
}

.navbar .middle input::placeholder{
    color: #90A2B4;
    text-align: center;
}

.navbar .middle input:focus{
    outline: none;
}

.navbar .right{
    justify-content: flex-end;
    align-items: center;

}

.navbar .right a{
    text-decoration: none;
    color: #c0cad3;
    background-color: #0C3B6B;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 13px;
}

.navbar .right i{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* Navbar  End*/

/* Content  Start*/
.content{
    display: flex;
    margin: 20px 20px;
}

.content div.left-side, .content div.right-side{
    flex: 20%;
}

.content div.middle{
    flex: 60%;
    margin: 0px 20px;
}
/* Content  End*/

/* Content - Left Side Profile Start*/
.p-20{
    padding: 20;
}

.card {
    background-color: #263849;
    border-radius: 16px;;
    color: white;
    font-size: 10px;
    overflow: hidden;
}

.profile{
    padding-bottom: 20px;
    text-align: center;
}

.banner img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
    height: 80px;

}

.profile .biodata img{
    border-radius: 50%;
    width: 30%;
    margin-bottom: 10px;
    margin-top: -40px;
}

.profile .biodata .username{
    color: #9F9F9F;
}

.profile .biodata .bio{
    margin-top: 15px;
    color: #c7c4c4;
}

.profile hr{
    margin: 10px 20px;
    border: 1px solid #8a8888;
}

.profile .follow{
    display: flex;
}

.profile .follow div{
    flex: 1;
}

.profile .follow p{
    color: #c7c4c4;
}

.profile .follow div.following{
    border-right: 1px solid #D0D0D0;
}

.profile a{
    text-decoration: none;
    color: #00B7DF;
}

/* Content - Left Side rofile End*/

/* Content - Left Side List Follow Start*/
.list-follow{
    margin-top: 20px;
}

.list-follow .suggest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.list-follow .suggest div:nth-child(odd){
    flex: 1;
}

.list-follow .suggest div:nth-child(2){
    flex: 2;

}

.suggest .avatar img{
    width: 100%;
    border-radius: 50%;
}

.suggest .account { 
    padding-left: 10px;
    /* background-color: #00B7DF; */
    color : #c7c4c4;
}

.suggest .account a{ 
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.suggest .btn-follow button{
    border: none;
    padding: 5px 8px;
    background-color: white;
    border-radius: 15px;
    color: #263849;
    font-weight: 600;
    font-size: 12px;
}
/* Content - Left Side List Follow End*/


