@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
}
/* Navbar  Start*/

body{
    background-color: #122232;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    padding: 5px 20px;
}

.navbar div{
    display: flex;
    flex: 1;
}

.navbar .left i{  
    color: aqua;
    font-size: 25px;
}

.navbar .middle{
    justify-content: center;
}

.navbar .middle input{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 0px 25px;
    background-color: #334960;
    color: #c0cad3;
    text-align: center;
}

.navbar .middle input::placeholder{
    color: #90A2B4;
    text-align: center;
}

.navbar .middle input:focus{
    outline: none;
}

.navbar .right{
    justify-content: flex-end;
    align-items: center;

}

.navbar .right a{
    text-decoration: none;
    color: #c0cad3;
    background-color: #0C3B6B;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 13px;
}

.navbar .right i{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* Navbar  End*/

/* Content  Start*/
.content{
    display: flex;
    margin: 20px 20px;
}

.content div.left-side, .content div.right-side{
    flex: 20%;
}

.content div.middle{
    flex: 60%;
    margin: 0px 20px;
}


/* Left Side */
.card-profile {
    background-color: #263849;
    /* width: 220px; */
    border-radius: 16px;;
    text-align: center;
    padding: 40px 10px 20px 10px;
    color: white;
    font-size: 10px;
    background-image: url('../img/backdrop.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -70px;
    
}

.card-profile .biodata img{
    border-radius: 50%;
    width: 30%;
    margin-bottom: 10px;
}

.card-profile .biodata .username{
    color: #9F9F9F;
}

.card-profile .biodata .bio{
    margin-top: 15px;
    color: #c7c4c4;
}

.card-profile hr{
    margin: 10px;
    border: 1px solid #8a8888;
}

.card-profile .follow{
    display: flex;
}

.card-profile .follow div{
    flex: 1;
}

.card-profile .follow p{
    color: #c7c4c4;
}

.card-profile .follow div.following{
    border-right: 1px solid #D0D0D0;
}

.card-profile a{
    text-decoration: none;
    color: #00B7DF;
}
