@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;700;900&display=swap');

body{
    background-color: #122232;
    background-image: url('../img/logo-large.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 45%;
    font-family: 'Poppins', sans-serif;
}

.header img {
    position: top left ;
    padding: 15px;
}

.content{
    margin-top: 40px;
    margin-left: 5%;
    font-size: 25px;   
    color: white;
}

.content h1{
    margin: 0;
}

.content h1.title{
    color: #00D9F6;
    margin: 0;
    font-weight: 900;
}

.content p.tagline{
    font-weight: 100;
    font-size: 27px;
}

.content p.tagline span{
    color: #00D9F6;
    font-weight: 600;
    display: block;
}

.btn-group a{
    display: inline-block;
    margin-right: 20px;
    padding: 10px 0;
    width: 250px;
    background-color: #0B8596;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 10pt;   
    text-decoration: none;
    text-align: center;
    margin-top: 60px;
}

.btn-group a:hover{
    color: #0B8596;
    background-color: white;
}

.footer{
    position: absolute;
    bottom: 0;
    color: #7C7C7C;
    padding: 0 15px;
}